@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LXGWZhenKai';
  src: url('/LXGWZhenKai.ttf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/Poppins-Regular.ttf');
}

* {
  font-family: 'Poppins-Regular', 'LXGWZhenKai';
}
